@CHARSET "ISO-8859-1";

* {
	font-family: Arial, Helvetica, sans-serif;
	text-align: center;
	box-sizing: border-box;
}

body {
	position: relative;
	max-width: 800px;
	min-width: 200px;
	margin: auto;
	background-color: #E9EAFC;
}

button {
	background-color: black;
    border: none;
    color: white;
    padding: 8px 16px;
    text-decoration: none;
    display: inline-block;
    font-weight: bold;
    border-radius: 4px;
    outline: none;
    margin: 3em;
}

button:hover {
	color: orange;
	background-color: #2A2A25;
}

input, select {
	background-color: white;
	border: 1p solid grey;
	color: black;
	padding: 4px;
	font-weight: bold;
	outline: none;
	background-color: #FBE3E3;
	margin: 1.5em;
}

a {
	font-family: "Comic Sans MS", cursive, sans-serif;
	font-size: 1.3em;
	margin: 1em 1.2em;
	display: block;
}

@media only screen and (min-width: 600px){
	a {
	display: inline;
	}
}

a:link, a:visited {
	text-decoration: none;
	color: orange;
}

a:hover, a:active {
	color: #94633F;
}

header {
	background-color: #204D4E;
	width: 100%;
	height: 10em;
	border-bottom: 4px black;
	color: white;
}

h1 {
	position: absolute;
	right: 2em;
	top: 1em;
	font-size: 2.4em;
}

nav {
	margin-bottom: 6em;
}

footer {
	border-top: 2px solid black;
	font-style: italic;
	clear: both;
	margin-top: 6em;
}

span {
	display: block;
	margin: auto;
}

h3 {
	margin: 2em;
	margin-top: 3em;
}

h3.bottom {
	border-top: 2px solid black;
	padding-top: 4em;
}

.productDetails {
	color: green;
	font-size: 1.2em;
	display: block;
	float: left;
	margin-bottom: 2em;
	border: 1px solid brown;
	border-radius: 33%;
	background-color: #B1FFAC;
}

.productDetailsDiv {
	display: block;
	float: left;
	margin-left: 2.3em;
	margin-bottom: 1.3em;
	margin-top: 1.2em;
}

.productDetailsDivTitle {
	display: block;
	color: black;
	font-size: 1.4em;
}

.prodDetailsHref {
	display: block;
	font-size: 0.7em;
	display: block;
	clear: both;
}