<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"> 

	<header>
		<h1 th:text="#{index.title}">Welcome to the warehouse application!</h1>
	</header>
	<nav>
		<a href="list-of-products.html" th:text="#{index.listProducts}">menj a listahoz :D</a>
		<a href="new-product.html" th:text="#{index.newProduct}">uj product :D</a>
		<a href="manage-warehouse.html" th:text="#{index.manageWarehouse}">warehouse beallitasok :D</a>
	</nav>
</html>