<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
	<title>Warehouse</title>
	<link rel="stylesheet" type="text/css" href="rules.css">
</head>
<body>
	<div th:replace="fragments/header"></div>
	<h1 th:text="${error}"></h1>
	<h1 th:text="${status}"></h1>
	<h1 th:text="${message}"></h1>
	<h1 th:text="${timestamp}"></h1>
	<a href="index.html" th:text="#{global.backToMainMenu}">vissza a fooldalra</a>
	<div th:replace="fragments/footer"></div>
</body>
</html>