<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
	<title>Warehouse</title>
	<link rel="stylesheet" type="text/css" href="rules.css">
</head>
<body>
	<div th:replace="fragments/header"></div>
		<div class="productDetails" th:each="product : ${products}">
			<div class="productDetailsDivTitle" th:text="${product.name}">Ez a neve</div>
			<div class="productDetailsDiv" th:text="#{listOfProducts.productId}">id</div>
			<div class="productDetailsDiv" th:utext="${product.id}"></div>
			<a class="prodDetailsHref" href="product-details.html" th:href="@{/product-details.html(productId=${product.id})}" th:text="#{listOfProducts.moreInformation}">>Tovabbi adatok</a>
		</div>
	<div th:replace="fragments/footer"></div>
</body></html>