<html>
<head>
	<title>Warehouse</title>
	<link rel="stylesheet" type="text/css" href="rules.css">
</head>
<body>
	<div th:replace="fragments/header"></div>
	<h3 th:text="#{manageWarehouse.newStoreUnit}">Uj StoreUnit letrehozasa:</h3>
	<form method="get" action="/manage-warehouse.html">
		<span><label for="storeUnitType" th:text="#{manageWarehouse.storeUnitType}"></label><input type="text" name="storeUnitType" maxlength="16" required/></span>
		<span><label for="numberOfNewStoreUnits" th:text="#{manageWarehouse.numberOfNewStoreUnits}"></label><input type="number" name="numberOfNewStoreUnits" min="1" step="1" required/></span>
		<button type="submit" th:text="#{global.createButton}">Letrehozas</button>
	</form>
	<h3 class="bottom" th:text="#{manageWarehouse.deleteStoreUnit}">Tarolok megtekintese, torlese: </h3>
	<form method="get" action="/manage-warehouse.html">
		<select name="id">
			<option th:each="storeUnit : ${storeUnits}" th:value="${storeUnit.id}" th:text="${storeUnit.storeUnitType}">ures</option>
		</select>
		<button type="submit" th:text="#{global.deleteButton}">Aktualis torlese</button>
	</form>
	<div th:replace="fragments/footer"></div>
</body></html>