<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
	<title>Warehouse</title>
	<link rel="stylesheet" type="text/css" href="rules.css">
</head>
<body>
	<div th:replace="fragments/header"></div>
	<h3 th:text="#{newProduct.title}"></h3>
	<div th:if="${msg != null}">There is no empty StoreUnit!
		<a href="list-of-products.html">Back</a>
	</div>
	<div th:if="${msg == null}">
		<form method="post" action="/new-product.html">
			<span><label for="name" th:text="#{newProduct.name}"></label><input type="text" name="name" maxlength="64" required/></span>
			<span><label for="owner" th:text="#{newProduct.owner}"></label><input type="text" name="owner" maxlength="64" required /></span>
			<span><label for="storeUnitType" th:text="#{newProduct.type}"></label><input type="text" name="storeUnitType" maxlength="16" required/></span>
			<span><label for="storeUnitId" th:text="#{newProduct.storeUnit}"></label></span>
			<span><select name="storeUnitId">
				<option th:each="storeUnit : ${storeUnits}" th:value="${storeUnit.id}" th:text="${storeUnit.storeUnitType}" required>ures</option>
			</select>
			</span>
			<button type="submit" th:text="#{global.createButton}">Mehet :D</button>
		</form>
	</div>
	<div th:replace="fragments/footer"></div>
</body></html>