<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
	<title>Warehouse</title>
	<link rel="stylesheet" type="text/css" href="rules.css">
</head>
<body>
	<div th:replace="fragments/header"></div>
	<div th:if="${msg != null}">Sikeres torles!
		<a href="list-of-products.html">Back</a>
	</div>

	<div th:if="${msg == null}">
		<h1 th:text="#{index.title}">A termek adatai: </h1>
		<h3 th:text="${product.name}">A termek neve</h3>
		<b th:text="#{productDetails.id}">A termek id-ja: </b><p th:utext="${product.id}">termek id-ja</p>
		<b th:text="#{productDetails.owner}">A termek tulajdonosa: </b><p th:utext="${product.owner}">tulajdonos neve</p>
		<b th:text="#{productDetails.type}">A termek tarolasi modja: </b><p th:utext="${product.storeUnitType}">tarolas modja</p>
		<b th:text="#{productDetails.place}">A termek helye: </b><p th:utext="${product.whichStoreUnit.id}">tarolohely</p>
		<a href="product-details.html" th:href="@{/product-details.html(productId=${product.id}, delete=true)}">
			<button th:text="#{global.deleteButton}">Torles</button>
		</a>
		<a href="list-of-products.html">Back</a>
	</div>
	<div th:replace="fragments/footer"></div>
</body></html>